.banner-contaner{

    max-width: 1440px;
    height: 652px;
    background-image: url(../image/Hero-bg.png);

}

.banner-icon{
    width:240px ;
    height:240px ;
    align-content: center;
    margin: 26px 599px 0px 599px;
}



.banner{
    width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.image{
    width: 240px;
    height: 240px;
    margin-bottom: 335px;
    margin-left: 378px;
}

.btn-designn{
    background-color: #0D1321;
    height: 65px;
    width: 244px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-bottom: 45px;
    
}


.text-center{
    text-align: center;
}

.full-from{
    width: 1140px;
    height: 1393px;
   
    margin: 74px 152px 0px 148px ;
    background-color: rgba(13, 19, 33, 0.02);
    
}
.full-from2{
    width: 946px;
    height:1233px ;
    padding-top: 80px;
    margin: 80px 97px;
}

.headline{

    
    

}
.card1{
    width: 847px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 97px 0px 0px;
    
    background-color: white;
   
}

.card-details{
    background-color: white;
    width: 477px;
    height: 219px;
        
}
.card-image{
    background-color: white;
    width: 274px;
    height: 240px;
    
    }

    .card2{
        width: 946px;
        height: 336px;
        background-color: white;
        margin: 48px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        }

    .card2-image{
        width: 24px;
        height: 240px;
        padding-left: 48px;
        

    }

   .card2-detalis{
    
    width: 477px;
    height: 219px;
    padding-left: 250px;
    
    }


    .card3{ width: 946px;
        height: 336px;
        background-color: white;
        margin: 48px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

    }

    .card3-details{
        width: 477px;
        height: 219px;
        
    }

    .card3-image{
        width: 240px;
        height: 240px;
        
        
    }

    .btn-from{
        width:171px ;
        height: 47px;
        background-color: white;
    }

    .video{
        width: 1140px;
        height: 775px;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 90px 152px 0px 148px ;
        
    }

    .text-center{
        text-align: center;
    }

    .skill-contaner{
        width: 1140px;
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
        padding-left: 150px;
    }

    .skills{
        padding: 40px;
        background-color: antiquewhite;
        margin-top: 48px;
        width:352px ;
        height:299px ;
    }

    .summer-contener{
        width: 1140px;
        height: 219px;
        border: 2px solid gray;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 48px;
        margin-left: 150px;
        
        
        
    }

    .massage-banner{
        width: 1140px;
        height: 313px;
        background-image: url(../image/handshake.jpg);
        margin-left: 150px;
        margin-top: 48px;
        color: aliceblue;
        
    }

    .massage-banner-details{
        padding-top: 64px;
    }


    .btn-design{
        width:120px ;
        height:57px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 16px;
      
        

    }

    .submit-option {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }


    .textarea{
        height:57px ;
        width:548px ;
        border-radius: 19px;
        border: none;
    }
